langchain
langchain-openai
python-dotenv
langchain-community
langchain-core
streamlit
ipykernel
pypdf
pymupdf
langchain-text-splitters
faiss-cpu
pandas
openai
validators==0.28.1
unstructured
numexpr
tiktoken
psutil
requests